<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layer</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+KR:wght@500&family=Noto+Sans:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans&family=Roboto:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>


<body>
    <div class="wraper">
        <header class="header container">
            <div class="header_container_left">
                <img class="header_Image" src="Images/brand_image.png" alt="">
                <a class="headerLogo" href="#"><img src="Images/NoTab.svg" alt=""></a>
            </div>
            <img class="loginLogo" src="Images/login_logo.png" alt="">
            <a href="#">Login</a>
        </header>

        <div class='flex_content container'>
            <div class="content1">
                <h1>A platform that works smarter</h1>
                <div class='image_conteiner1'>
                    <img class="content__image" src="Images/stick.png" alt="">
                    <p>NoTab allows bars & nightclubs to manage, understand, and grow
                        their
                        business
                        from
                        a single dashboard</p>
                </div>
            </div>
            <div class="Image_phone"><img src="Images/Header_Phone.png" alt=""></div>
        </div>
    </div>


    <div class="download container">
        <div class="download_text">
            <b>DOWNLOAD OUR APP</b>
        </div>
        <div class="download_images">
            <a class="Appstore_desktop" href="#"><img src="Images/Appstore_desktop.png" alt="">
            </a>
            <a class="Appstore_mobile" href="#"><img src="Images/Appstore_mobile.svg" alt="">
            </a>
            <a class="Google_desktop" href="#"><img src="Images/Google_desktop.png" alt="">
            </a>
            <a class="Google_mobile" href="#"><img src="Images/Google_mobile.png" alt="">
            </a>
        </div>

    </div>

    <div class="transition">
        <p class="trasition_text">We use cookie to improve your experience on our site. By using our site you
            consent
            cookies.
        </p>
        <button class="transition_border">OK</button>
    </div>



    <div class="border_conteiner container">
        <div class="border_content">
            <p class="border_content_text1">Would like to become a member, please contact us</p>
            <p class="border_content_text2"><a href="#">support@notab.com</a></p>
        </div>

        <div class="border_content">
            <p class="border_content_text1">Already a partner?</p>
            <p class="border_content_text2"><a href="#">Login</a></p>
        </div>
    </div>


    <div class="Phone2">
        <img class="iphone_desktop" src="Images/Iphone_desktop.png" alt="">
        <img class="iphone_mobile" src="Images/Iphone_mobile.png" alt="">
        <div class="phone2_text_container">
            <h2>Our mission and vision</h2>
            <p>While technology is our sweet spot, we’ve developed our vision alongside our
                customers to ensure your everyday problems are solved through simplistic tools. And as your business
                grows, we’ll grow right alongside with you.</p>
        </div>
    </div>

    <div class="transition_mobile">
        <p class="trasition_text">We use cookie to improve your experience on our site. By using our site you
            consent
            cookies.
        </p>
        <button class="transition_border">OK</button>
    </div>

    <div class="a_dude_text_mobile">
        <div class="container">
            <h2>ID Scanner</h2>
            <p>While technology is our sweet spot, we’ve developed our vision alongside our customers to
                ensure your everyday problems are solved through simplistic tools. And as your business
                grows, we’ll grow right alongside with you</p>
        </div>
    </div>

    <div class="a_dude_background">
        <div class="a_dude_flex container">
            <img class="a_dude_phone1" src="Images/dude_phone1.png" alt="">
            <img class="a_dude_phone1_mobile" src="Images/a_dude_phone1_mobile.png" alt="">
            <img class="a_dude_phone2" src="Images/dude_phone2.png" alt="">
            <img class="a_dude_phone2_mobile" src="Images/a_dude_phone2_mobile.png" alt="">
            <div class="a_dude_text">
                <h2>ID Scanner</h2>
                <p>While technology is our sweet spot, we’ve developed our vision alongside our customers to
                    ensure your everyday problems are solved through simplistic tools. And as your business
                    grows, we’ll grow right alongside with you</p>

            </div>
        </div>
    </div>


    <div class="diagrams_flex">
        <div class="diagrams_text">
            <h2>BI Tool Integration</h2>
            <p>We use Business Intelligence Tool that allows you to be updated what is happening in your
                business
                just by one click. Track revenue and profit by one click.</p>
        </div>
        <img class="diagram_image_desktop" src="Images/diagrams.png" alt="">

    </div>

    <div class="dj_background">
        <div class="dj_text container">
            <h2>QR code</h2>
            <p>No more conflict situations due to wrong order. The guest selects the positions, and
                after
                that
                an
                individual QR code of his order is generated</p>
            <div class="footer_images">
                <a href="#"><img class="Appstore_desktop" src="Images/Appstore_desktop.png" alt="">
                </a>
                <a href="#"><img class="google" src="Images/GroupGooglePlay.png" alt="">
                </a>
            </div>
        </div>

        <img class="phone_coctail_center" src="Images/phone_coctail_center.png" alt="">
        <img class="phone_coctail_center_mobile" src="Images/phone_coctail_center_mobile.png" alt="">
        <img class="phone_coctail_right" src="Images/phone_coctail_right.png" alt="">
        <img class="phone_coctail_right_mobile" src="Images/phone_coctail_right_mobile.png" alt="">
    </div>

    <div class="phone_Notab container">
        <div class="Notab_content">
            <div class="Notab_phone">
                <img class="Notab_Phone_desktop" src="Images/NotabPhone.png" alt="">
                <img class="Notab_Phone_mobile" src="Images/NotabPhone_mobile.png" alt="">
                <img class="Notab_arrow" src="Images/NotabPhoneArrow.png" alt="">
                <h2 class="Notab_arrow_text">Scan QR-code</h2>
            </div>
        </div>

        <div class="Notab_text">
            <p class="Notab_text_p">The guest QR code is scanned
                by the staff and automatically sent</p>
            <h2 class="Notab_text_h2">Generate your QR-code</h2>
        </div>
    </div>


    <div class="big_phone_conteiner">
        <div class="big_phone container">
            <h2>Easier ordering.<br> Happier guests.</h2>
            <p>NoTab makes it simple for patrons to easily</p>
        </div>
        <div class="big_phone_img_desktop">
            <div class="big_phone_img_conteiner">
                <img src="Images/iPhone_XS_Longscroll_Mockup_1.png" alt="">
                <div class="big_phone_border1">
                    <img src="Images/border1.png" alt="">
                </div>
                <div class="big_phone_border2">
                    <img src="Images/border2.png" alt="">
                </div>
                <div class="big_phone_border3">
                    <img src="Images/border3.png" alt="">
                </div>
                <div class="big_phone_border4">
                    <img src="Images/border4.png" alt="">
                </div>
                <div class="big_phone_text1">
                    <h3>No more lost or
                        forgotten credit cards
                    </h3>
                </div>
                <div class="big_phone_text2">
                    <h3>No more lost or
                        forgotten credit cards
                    </h3>
                </div>
                <div class="big_phone_text3">
                    <h3>No more split
                        your tab
                    </h3>
                </div>
                <div class="big_phone_text4">
                    <h3>Skip the line
                    </h3>
                </div>
            </div>

        </div>
    </div>

    <div class="big_phone_img_mobile">
        <div class="big_phone_img_conteiner_mobile">
            <img src="Images/iPhone_XS_Longscroll_Mockup_1_mobile.png" alt="">
            <div class="first_mobile_border"><img src="Images/first_mobile_border.png" alt="">
            </div>
            <div class="first_mobile_border_text">
                <h3>No more lost or <br>
                    forgotten credit cards</h3>
            </div>

            <div class="big_phone_border1_mobile">
                <img src="Images/big_phone_border1_mobile.png" alt="">
            </div>
            <div class="big_phone_border2_mobile">
                <img src="Images/big_phone_border2_mobile.png" alt="">
            </div>
            <div class="big_phone_border3_mobile">
                <img src="Images/big_phone_border3_mobile.png" alt="">
            </div>
            <div class="big_phone_text1_mobile">
                <h3>No more lost or forgotten credit cards
                </h3>
            </div>
            <div class="big_phone_text2_mobile">
                <h3>Skip the line
                </h3>
            </div>
            <div class="big_phone_text3_mobile">
                <h3>No more split
                    your tab
                </h3>
            </div>


        </div>
    </div>

    <div class="Notab_background">
        <img src="Images/Notab_background.png" alt="">
        <div class="Notab_background_phone">
            <img src="Images/Notab_background_phone.png" alt="">

        </div>
        <div class="Phone_screenshot">
            <img src="Images/Background_screenshot.png" alt="">
        </div>
    </div>

    <div class="form_text">
        <h2>Get In Touch</h2>
        <p>Have questions about Noble or just want to say hello? Drop us a line and a member of our team will
            getback to
            you shortly.</p>
    </div>

    <form class='form'>
        <input class="Name Check" placeholder="Name" name="username" type="text">
        <input class="Name Check" placeholder="Venue Name" name="Venue Name" type="text">
        <div class="Div_City">
            <input class="City Check" placeholder="Venue City" name="Venue City" type="text">
            <input class="City Check" placeholder="State City" name="State City" type="text">
        </div>
        <input class="Name Check" placeholder="Email" name="Email" type="email">

        <input class="Name Check" placeholder="Subject" name="Subject" type="text">

        <textarea class="Check" placeholder="Message" name="Message"></textarea>

        <button class='button' type='submit'>Send</button>

    </form>

    <h4>DOWNLOAD OUR APP</h4>

    <div class="Big_google_apple">
        <div class="Apple_big"><a href="#"><img src="Images/Footer_Apple.png" alt=""></a></div>
        <a href="#"><img src="Images/Footer_Google.png" alt=""></a>
    </div>

    <footer>
        <div class="footer_text">
            <h6>Terms to use</h6>
            <h6>Privacy policy</h6>
        </div>

        <div class="footer_images">
            <img class="Notab_footer" src="Images/Footer_NOTAB.png" alt="">
            <h5>Contact us:<br> support@notab.com</h5>
            <h6>© 2020 - NoTab®</h6>
        </div>
    </footer>
    <script src="./js/scripts.js"></script>
</body>




</html>
